# Generated
server
*.o
tmp.*
build-opts.*
obj/

# Also generated
*.h
lib_text.c

# Editing, crashing, debugging etc
tags
core
core.*
*.core
gmon.out
*.cw
.bash_history

# If you run it in this directory.
Readme.txt
model.ini
server.ini
backup/
help/
ini/
level/
log/
map/
system/
user/
userdb/
userdb32/
userdb64/

# You don't need to see my identification.
*.cer
*.crl
*.crt
*.csr
*.hsh
*.jks
*.jwk
*.key
*.p7b
*.pem
*.pfx
*.ppk
*.prv
*.pwl
*.sec
