# Generated
server
*.o
tmp.*
obj*/build-opts.*

# Also generated
*.h
lib_text.c

# Except
!inline.h

# Editing, crashing, debugging etc
tags
core
core.*
gmon.out

# If you run it in this directory.
model.ini
server.ini
backup/
help/
ini/
level/
log/
map/
system/
user/
userdb/
