# Generated
server
*.o
tmp.*
.build-opts.*

# Also generated
*.h
lib_text.c

# Except
!inline.h

# Crashing, debugging etc
tags
core
core.*
gmon.out

# If you run it in this directory.
server.ini
backup/
help/
level/
log/
map/
system/
