# Put in /etc/systemd/system/mcchost@.service
# This item needs to call classicube.net every minute.
# In addition it does timed saves and backups
[Unit]
Description=MCChost Classicube server timer
After=network.target

[Service]
ExecStart=-/home/mcchost/bin/mcchost-server -dir /home/mcchost/mcchost -cron

# Run as a other user
User=mcchost
Group=mcchost
